.img {
    position: relative;
    height: 65%;
    width: 70%;
    left: 210px;  
}


.text-justify1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: large;
    color: #eeeeee;
}

.container-fluid {
   background-color: black;
   height: 100%;
}

#guesses {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: large
}

#pic {
    position: relative;
    bottom: 105px;
    right: 90px;
    border: honeydew;
    border-style: dashed;
    text-align: center;
    height: 80%;
    width: 300px;
}

#train {
    position: relative;
    height: 400px;
    bottom: 70px;
}

#train2 {
    position: relative;
    height: 400px;
    left: 106px;
    bottom: 135px;
}

#content {
    border: white;
    border-style: dashed;
    position: relative;
    height: 380px;
    width: 80px;
    bottom: 155px;
}


