.img {
    position: relative;
    height: 500px;
    width: 70%;
    left: 210px;  
}

.text-justify1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: large;
    font-style: inherit;
}

.container-fluid {
   background-color: #933131
}

#guesses {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: large
}

#pic {
    position: relative;
    top: 35px;
    right: 50px;
    border: honeydew;
    border-style: dashed;
    text-align: center;
    height: 100%;
    width: 300px;
}

#train {
    position: relative;
    height: 400px;
}

#train2 {
    position: relative;
    height: 400px;
    left: 106px;
}

#content {
    border: white;
    border-style: dashed;
    height: 100%;
    width: 80px;
    top: 25px;
}


